body, input{
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    margin: 4px;
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-image: url(img/eYBUtITN-fond-decran-pluie-109.webp)
}

input[type="radio"]{
    accent-color: red;
}

div{
    background-color: rgba(0, 0, 0, 0.418);
}

